---
title: Journey to the Outer Loop
author: Kenny Johnston
author_gitlab: kencjohnston
author_twitter: kencjohnston
categories: unfiltered
description: "A space journey from Earth to a world where Product Managers don't exist"
image_title: '/images/blogimages/library/devops.png'
tags: devops, product
twitter_text: “Journey to the Outer Loop - Where Product Managers Don't Exist”
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

🚀 Your DevOps journey, like any good space journey, spans vast distances. As your space captain, I’m here to remind you, we have a long way to go. DevOps by its continuous improvement definition isn’t a one stop destination. Today, in the true spirit of continuous improvement we’re rightly focused on our immediate next step along the journey. The next steps involve familiar friends - our fellow technical professionals who design, code, test, secure, deploy and operate software.  On our space journey they are our local solar system - they’re Mercury, Venus, Earth, Mars, Jupiter and Saturn. These planetary neighbors are concentrating on improved feedback and collaboration amongst each other.  We’re optimizing the efficiency of software creation. We’ve even built complete teams to perform this integrated activity holistically. That is DevOps culture! 

That is also just the beginning of DevOps. In DevOps we call this solar-system collaboration the Inner Loop. The important feedback loop that brings us confidence in the technical abilities of our software. Think of things like reliability, scalability, observability, velocity. Those are critical abilities to keep up with our competition, ship software faster and accelerate. This inner loop is about efficiency, are we using the right build strategy? Continuous improvement of our inner loop is possible today using collaboration concepts like continuous integration, continuous deployment, DevSecOps as well as pipelines, infrastructure and observability as code. 

![Inner Loop](/images/blogimages/2021-outer-loop-journey/inner_loop.png)

There is, somewhere beyond our solar-system, a galactic Outer Loop. In this Outer Loop we gain confidence in the value capabilities of our product. Imagine things like usability, adoptability, stickiness and competitiveness. This outer loop is about effectiveness, are we building the right things? These capabilities do more than just enable us to keep up with the competition and deliver value to our users - they are the measures of whether we are doing so. This is the next step in DevOps!

![Outer Loop](/images/blogimages/2021-outer-loop-journey/outer_loop.png)

I’m going to take you on a journey to this Outer Loop - what it looks like today, what constellations of tools are available for it, and what a more complete Outer Loop could look like. Buckle up!

#### What it looks like today

In today’s mostly uncharted Outer Loop - the space is disorganized at best. Ask most modern software development organizations and they will tell you they are struggling to integrate tools to enable this feedback loop. An organization who has figured out their inner loop thanks to CI/CD  is now struggling with how to get feedback to the teams. Today DevOps teams are:
* Using Progressive Delivery techniques such as canary deployments and feature flags to perform some A/B or hypothesis testing
* Struggling to connect quantitative feedback in the form of user data into actionable insights from the loop
* Collecting qualitative user feedback in the form of NPS scores, user research, feature requests in disparate silos with limited access
* Filtering feedback through a single individual’s brain, typically a product manager, in order to process it for prioritization
* Lacking understanding of the efficiency of the types of feedback they receive
* Stitching together multiple tools to try to ensure feedback gets into the right hands

Some of the tools for various parts of this outer loop are:
* Collection - Survey Monkey, MiPanel, Heap, Chorus.ai, NPS, Support Tickets
* Analysis - Qualtrics, Pendo.io, Gainsight
* Insights - Dovetail
* Prioritization - Aha!, Trello

#### Constellation of Tools

Today’s Outer Loop is a bit like an alien world. We don’t yet have the tools to organize and make sense of it. What would happen if we did?

An effective Outer Loop - one built for optimizing outcomes for our users - would easily allow for the kinds of activities sought by Product Managers. Activities like lean product delivery, hypothesis testing, and prioritization frameworks. In fact - if you gave these tools to the real value creators - engineers, testers, designers, operators - you wouldn’t need Product Managers! 

Imagine, beyond our solar-system a world where there were no Product Managers. Feedback is collected and tools readily available for the creators to analyze it.  That feedback includes qualitative and quantitative feedback from users, buyers and competition not just about what the product does today - but what it could do tomorrow. The creators iterate on a prioritization framework that is continuously improved. They ship experiments and have tools which empower them to designate an experiment a success. If successful they can rapidly promote an experiment. The primary input - which should be evident already - is a business goal. 

#### Are we there yet?

The reality is, this future world isn’t far off. Product focused DevOps teams have these point solutions at their disposal today. What they are missing is many of the same qualities that teams struggled within in the Inner Loop: A common platform to perform these activities that didn’t reinforce silos and create significant effort to stitch disparate tools together.

As one of the leading Value Stream Delivery Platforms - this is exactly where Gitlab is headed. We’re focused on completing the Galactic Outer Loop for you! Imagine a world where investment decision wasn’t subjective, ad-hoc, single tracked, and not data-driven! Imagine, no product managers! I’d invite you to [collaborate with us on that vision](https://gitlab.com/gitlab-org/gitlab/-/issues/299315). To Infinity and Beyond!
