---
title: "Why we ended our free discount code early"
author: Christine Yoshida
author_gitlab: c.yoshida
author_twitter: cmyoshida
categories: unfiltered
description: "Debrief on our certification discount code policy change."
tags: community, growth, news
cta_button_text: 'Go to GitLab Learn'
cta_button_link: 'https://gitlab.edcast.com'
featured: no
postType: corporate
merch_banner: merch_two
---

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
This blog post is [Unfiltered](/handbook/marketing/blog/unfiltered/#legal-disclaimer)
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

One of our [core values at GitLab is transparency](/handbook/values/#transparency), and in that spirit here’s a debrief of the free certification offer I posted in a [previous blog post](/blog/2021/04/20/everyone-can-get-certified/) and why we needed to end it early.

First, we are amazed at the sheer number of people who took action. We had only anticipated about 4000 of you would be interested in getting certified during our original ten day offer of a 100% discount, but in just two days there were over 60,000 people who created an account in GitLab Learn, over 8,000 people enrolled in the GitLab Certified Associate Self-Service pathway, 6,000 people started the hands-on labs, and over 500 submitted your completed hands-on lab for the certification exam. We were able to award certifications to hundreds of people during that time!

We love your enthusiasm and excitement about earning a GitLab certification, which you expressed on everything from social media posts to video walkthroughs on YouTube. Unfortunately, the systems behind the scenes supporting the learning experience were unable to keep up with the sudden spike in the number of users. We eventually hit a system limit and we had to make the difficult decision to end the discount period much sooner than we had planned.

For those of you who were excited to take advantage of the discount and thought you had more time to take advantage of it, we are very sorry to have built up your excitement and then let you down - please accept our sincere apologies. If you have already redeemed the discount code and hands-on lab invitation code, please continue to complete your coursework in GitLab Learn and submit your project to us.

Over the coming days and weeks we will determine both short-term and long-term solutions to provide improved capacity. As we iterate and scale GitLab Learn, we’ll be incorporating the lessons we learned with this event. For all the details that occurred behind the scenes, please look for our forthcoming blog post on scaling our hands-on lab infrastructure for self-paced training.

There is still plenty of free learning in GitLab Learn including Gitlab 101, GitLab 201, Remote Work, and DIB badges. We hope you’ll continue to use GitLab Learn and visit often to check out new offerings as they become available.

## Your comments are welcome here!

Tell us how we could have done better.
